[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
datasets = "*"
torch = "*"
scikit-learn = "*"
accelerate = "*"
termcolor = "*"
tabulate = "*"
matplotlib = "*"
bitsandbytes = "*"
bs4 = "*"
python-whois = "*"
dnspython = "*"
pyopenssl = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
